// Cart
.wrap-header-cart.js-panel-cart
  .s-full.js-hide-cart
  .header-cart.flex-col-l.p-l-65.p-r-25
    .header-cart-title.flex-w.flex-sb-m.p-b-8
      span.mtext-103.cl2
        | Your Cart
      .fs-35.lh-10.cl2.p-lr-5.pointer.hov-cl1.trans-04.js-hide-cart
        i.zmdi.zmdi-close
    .header-cart-content.flex-w.js-pscroll
      ul.header-cart-wrapitem.w-full
        each product in cart.cartProducts
          li.header-cart-item.flex-w.flex-t.m-b-12(data-id=product.productId data-subId=product.subProductId)
            .header-cart-item-img
              img(src='/images/products/'+product.images[0] , alt='IMG')
            .header-cart-item-txt.p-t-8
              a.header-cart-item-name.m-b-18.hov-cl1.trans-04(href='#')
                | #{product.productName}
              span.header-cart-item-info
                span.header-cart-item-info-quantity #{product.quantity}
                | x 
                span.header-cart-item-info-price #{product.price}
              span.header-cart-item-info
                span.header-cart-item-info-size #{product.size}
              span.header-cart-item-info
                span.header-cart-item-info-color #{product.color}
        //- li.header-cart-item.flex-w.flex-t.m-b-12
        //-   .header-cart-item-img
        //-     img(src='/images/item-cart-02.jpg', alt='IMG')
        //-   .header-cart-item-txt.p-t-8
        //-     a.header-cart-item-name.m-b-18.hov-cl1.trans-04(href='#')
        //-       | Converse All Star
        //-     span.header-cart-item-info
        //-       | 1 x $39.00
        //- li.header-cart-item.flex-w.flex-t.m-b-12
        //-   .header-cart-item-img
        //-     img(src='/images/item-cart-03.jpg', alt='IMG')
        //-   .header-cart-item-txt.p-t-8
        //-     a.header-cart-item-name.m-b-18.hov-cl1.trans-04(href='#')
        //-       | Nixon Porter Leather
        //-     span.header-cart-item-info
        //-       | 1 x $17.00
      .w-full
        .header-cart-total.w-full.p-tb-40
          | Total: 
          span #{cart.total}
        .header-cart-buttons.flex-w.w-full
          a.flex-c-m.stext-101.cl0.size-107.bg3.bor2.hov-btn3.p-lr-15.trans-04.m-r-8.m-b-10(href='shoping-cart.html')
            | View Cart
          a.flex-c-m.stext-101.cl0.size-107.bg3.bor2.hov-btn3.p-lr-15.trans-04.m-b-10(href='shoping-cart.html')
            | Check Out